.play {
    padding-bottom: 140px;
}

.play__box {
    background-color: #000;
    background-image: url(../../images/playbf.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    padding: 200px 30px 32px 30px;
    width: 100%;
}

.play__title {
    color: var(--Text, #fafafa);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 100% */
    letter-spacing: 0.72px;
    margin-top: 0;
    margin-bottom: 16px;
}

.play__text {
    color: var(--Text, #fafafa);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
    margin-top: 0;
    margin-bottom: 16px;
}

.play__link {
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    text-decoration-line: none;
    border-bottom: 0.5px solid #fff;
}

.play__two {
    background-color: #000;
    background-image: url(../../images/women.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    padding: 10px 10px 10px 24px;
    width: 100%;
}

.play__big {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.play__smallbox {
    background-color: #000;
    padding: 20px 25px;
    width: 100%;
    background-image: url(../../images/dux.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.play__inner {
    background-image: url(../../images/cal.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.play__there {
    display: flex;
    column-gap: 15px;
}

.play__four {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

@media only screen and (min-width: 500px) {
    .play__smallbox {
        padding: 35px 25px;
    }

    .play__two {
        padding: 24px 10px 24px 25px;
    }
}

@media only screen and (min-width: 602px) {
    .play__box {
        padding: 446px 296px 32px 32px;
        background-size: 510px 510px;
    }

    .play__two {
        padding: 138px 291px 24px 24px;
        background-size: 432px 286px;
    }

    .play__smallbox {
        padding: 175px 55px 24px 24px;
        background-size: 210px 222px;
    }

    .play__title {
      font-size: 24px;
    }

    .play__text {
      font-size: 14px;
    }

    .play__link {
      font-size: 16px;
    }
}

@media only screen and (min-width: 1050px) {
    .play__big {
      flex-direction: row;
      column-gap: 20px;
    }

    .play__box {
      width: 50%;
    }

    .play__four {
      width: 50%;
    }
}