.pro__imgbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 288px;
    border-radius: 4px;
    background-color: var(--Secondary, #f5f5f5);
    padding-top: 50px;
    padding-bottom: 50px;
}

.pro__img {
    width: 258px;
}
.pro__smallbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    background-color: var(--Secondary, #f5f5f5);
    margin-top: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px;
    padding-top: 100px;
    align-items: center;
}

.inner {
    padding-bottom: 94px;
}

.pro__title {
    color: var(--Text2, #000);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 100% */
    letter-spacing: 0.72px;
    margin-top: 0;
    margin-bottom: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.pro__count {
    color: #ccc;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
    margin-top: 0;
    margin-bottom: 16px;
    padding-left: 108px;
    position: relative;
}

.pro__count::before {
    content: "";
    width: 100px;
    height: 20px;
    background-image: url(../../images/star.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}

.pro__count span {
    color: var(--Button1, #0f6);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
    opacity: 0.6;
}

.pro__price {
    color: var(--Text2, #000);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 100% */
    letter-spacing: 0.72px;
    margin-top: 0;
    margin-bottom: 24px;
}

.pro__deck {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 24px;
    border-bottom: 1px solid #ddd;
    // text-overflow: ellipsis;
    // white-space: nowrap;
    // overflow: hidden;
}

.content__textone {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 0.6px;
    margin-top: 0;
    margin-bottom: 24px;
    margin-bottom: 24px;
    position: relative;
}

.content__textone::after {
    content: "";
    width: 48px;
    height: 20px;
    background-image: url(../../images/Colour.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 120px;
}

.content__text {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 0.6px;
    margin-top: 0;
    margin-bottom: 0;
}

.content__list {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    column-gap: 16px;
}

.content__btn {
    width: 32px;
    height: 32px;
    color: var(--Text2, #000);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px; /* 150% */
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.con__inbox {
    display: flex;
    align-items: center;
    column-gap: 24px;
    margin-bottom: 24px;
}

.content__btn:hover {
    color: #fff;
    background-color: #db4444;
    border: 1px solid #db4444;
}

.con__box {
    padding-top: 24px;
}

.con__one {
    display: flex;
    column-gap: 16px;
    align-items: center;
    margin-bottom: 40px;
}

.con__btnbox {
    display: flex;
    width: 120px;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.con__btnbox p {
    color: var(--Text2, #000);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 140% */
    margin-top: 0;
    margin-bottom: 0;
}

.btn__minus {
    width: 40px;
    background-color: transparent;
    border-radius: 4px 0px 0px 4px;
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    padding: 10px 8px;
    font-size: 20px;
    transition: 0.3s;
}

.btn__plus {
    width: 40px;
    background-color: transparent;
    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    padding: 10px 8px;
    font-size: 20px;
    transition: 0.3s;
}

.con__btnbox button:hover {
    background-color: #db4444;
    color: #fff;
}

.buy__now {
    color: var(--Text, #fafafa);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    border-radius: 4px;
    background: var(--Button2, #db4444);
    border: 1px solid #db4444;
    transition: 0.3s;
    padding: 10px 15px;
}

.buy__now:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.star__btn {
    background-color: transparent;
    border: none;
}

.fre__box {
    padding: 24px 51px 16px 72px;
    position: relative;
}

.fre__box:first-child {
    border-bottom: 1px solid #ddd;
}

.fre__box:first-child::before {
    content: "";
    width: 40px;
    height: 40px;
    background-image: url(../../images/icon-delivery.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 16px;
    top: 29px;
}

.fre__box:last-child::before {
    content: "";
    width: 40px;
    height: 40px;
    background-image: url(../../images/Icon-return.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 16px;
    top: 29px;
}

.fre__title {
    display: block;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    margin-bottom: 8px;
}

.fre__text {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
    text-decoration-line: none;
    margin-top: 0;
    margin-bottom: 0;
    transition: 0.3s;
}

.fre__text:hover {
    text-decoration-line: underline;
}

.fre__big {
    border-radius: 4px;
    border: 1px solid #ddd;
}

@media only screen and (min-width: 460px) {
    .pro__imgbox {
        width: 428px;
    }

    .pro__img {
        width: 408px;
    }
}

@media only screen and (min-width: 570px) {
    .fre__big {
        width: 399px;
    }

    .buy__now {
        padding: 10px 48px;
    }
}

@media only screen and (min-width: 870px) {
    .con__box {
        display: flex;
    }
}

@media only screen and (min-width: 1000px) {
    .content {
        flex-direction: row;
        justify-content: space-between;
        column-gap: 20px;
        align-items: flex-start;
        position: relative;
    }

    .con__box {
        position: absolute;
        right: calc(50% - 370px);
        bottom: -300px;
        display: block;
    }

    .inner {
        padding-bottom: 350px;
    }
}

@media only screen and (min-width: 1150px) {
    .content {
        column-gap: 0;
    }

    .con__box {
        position: absolute;
        right: 0px;
        bottom: -305px;
    }

    .pro__titlebox {
        width: 373px;
    }

    .pro__imgbox {
        width: 500px;
        height: 600px;
    }

    .pro__box {
        padding-left: 200px;
        position: relative;
    }

    .pro__img {
        width: 350px;
    }

    .pro__smallbox {
        position: absolute;
        width: 170px;
        height: 138px;
        left: 0;
        top: 0;
        margin-top: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .pro__smallimg {
        width: 90px;
    }
}

@media only screen and (min-width: 1230px) {
    .con__box {
        position: absolute;
        right: calc(50% - 610px);
        top: calc(50% + 160px);
    }

    .inner {
        padding-bottom: 130px;
    }
}

.dots-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.dot {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #b3d4fc;
    animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
    margin-right: 0;
}

.dot:nth-child(1) {
    animation-delay: -0.3s;
}

.dot:nth-child(2) {
    animation-delay: -0.1s;
}

.dot:nth-child(3) {
    animation-delay: 0.1s;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        background-color: #b3d4fc;
        box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }

    50% {
        transform: scale(1.2);
        background-color: #6793fb;
        box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }

    100% {
        transform: scale(0.8);
        background-color: #b3d4fc;
        box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
}

.loading {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
